/vendor/
*.log
*.exe
/framework/temp/latte/*
/framework/temp/wp/*
/tools/*/vendor/
.phpunit.result.cache
/drivers/**
/tools/*.txt
.phpunit.result.cache



.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
